# ignore everything by default
*

# allow git metadata
!.gitignore

# -------------------------
# WHITELIST ROOT FOLDERS
# -------------------------

!/SPT/
!/SPT/user/
!/BepInEx/

# -------------------------
# ALLOW REQUIRED CONTENT
# -------------------------

# Manifest
!manifest.json

# SPT user data
!/SPT/user/mods/
!/SPT/user/mods/**

# BepInEx config
!/BepInEx/config/
!/BepInEx/config/**

# ONLY safe plugin folder
!/BepInEx/plugins/
!/BepInEx/plugins/**

# -------------------------
# BLACKLIST FOLDERS
# -------------------------

BepInEx/plugins/spt/
BepInEx/config/BepInEx.cfg

#this one ignored just because file is too big and is an optional client-side only not worth uploading everytime
BepInEx/plugins/HollywoodFX/
