## Settings file was created by plugin Headshot Damage Redirection v1.7.0
## Plugin GUID: com.perfk.dmgRedirect

[Dad Gamer!]

## Scale all incoming damage.
# Setting type: Single
# Default value: 100
# Acceptable value range: From 0 to 100
% All Damage Received = 100

[General]

## Turns headshot damage redirection On or Off
# Setting type: Boolean
# Default value: true
Enable Headshot Damage Redirection = true

## Turns Chest damage redirection On or Off
# Setting type: Boolean
# Default value: true
Enable Chest Damage Redirection = false

## Display an in game notification when damage to your head is detected and modified.
# Setting type: Boolean
# Default value: false
Display Notification on Damage Received = false

## The amount of damage in percentage, to redirect to another body part when the player receives damage. So if this is set to 60, and you receive 50 damage to your head, you will instead receive 20 damage to their head, and 40 will be redirected to a random body part selected. 
# Setting type: Single
# Default value: 60
# Acceptable value range: From 0 to 100
Damage Redirection Percentage = 60

## Log all damage before and after redirection
# Setting type: Boolean
# Default value: false
Debug Enabled = false

[Optional]

## 100 means this is disabled. If below 100, this will roll a chance to actually redirect damage. if the roll fails, this mod will affect nothing, and full damage will go to your head.
# Setting type: Single
# Default value: 100
# Acceptable value range: From 0 to 100
Percentage Chance to Redirect = 100

## 1 means this is disabled. If above 1, damage to the head/chest will be multiplied before being sent to another body part, making it more punishing.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 3
Redirected Damage Multiplier = 1

## 0 means this is disabled. Max damage that can be applied to head/chest after redirection.
# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 100
Clamp Max Damage = 0

## 0 means this is disabled. If set above 0, this will be the minimum damage to your head for damage redirection to occur So for example, if the player receives 20 damage to the head, and this is set to 30, no damage will be redirected at all, and the mod will do nothing. This happens BEFORE redirection!
# Setting type: Single
# Default value: 17
# Acceptable value range: From 0 to 100
Minimum Damage To Redirect = 17

[Redirection Body Part Targets]

## How many parts to spread the damage received to.
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 1 to 6
Parts to Redirect To = 1

## Headshot damage will be able to be redirected to [Chest]. Which part is selected is random, but will only select from the parts enabled here. For example, If you wish to have HDR only redirect to the chest, disable all other parts except the chest.
# Setting type: Boolean
# Default value: true
Chest = true

## Headshot damage will be able to be redirected to [Stomach]. Which part is selected is random, but will only select from the parts enabled here. For example, If you wish to have HDR only redirect to the chest, disable all other parts except the chest.
# Setting type: Boolean
# Default value: true
Stomach = true

## Headshot damage will be able to be redirected to [LeftArm]. Which part is selected is random, but will only select from the parts enabled here. For example, If you wish to have HDR only redirect to the chest, disable all other parts except the chest.
# Setting type: Boolean
# Default value: true
LeftArm = false

## Headshot damage will be able to be redirected to [RightArm]. Which part is selected is random, but will only select from the parts enabled here. For example, If you wish to have HDR only redirect to the chest, disable all other parts except the chest.
# Setting type: Boolean
# Default value: true
RightArm = false

## Headshot damage will be able to be redirected to [LeftLeg]. Which part is selected is random, but will only select from the parts enabled here. For example, If you wish to have HDR only redirect to the chest, disable all other parts except the chest.
# Setting type: Boolean
# Default value: true
LeftLeg = false

## Headshot damage will be able to be redirected to [RightLeg]. Which part is selected is random, but will only select from the parts enabled here. For example, If you wish to have HDR only redirect to the chest, disable all other parts except the chest.
# Setting type: Boolean
# Default value: true
RightLeg = false

