## Settings file was created by plugin QuestPresenceDetector v1.0.1
## Plugin GUID: com.lacyway.qpd

[Main]

## If an arrow should be shown that points to the quest item
# Setting type: Boolean
# Default value: true
Show Arrow = true

## The size of the area around the quest item in meters
## Cannot be changed mid-raid
# Setting type: Single
# Default value: 5
# Acceptable value range: From 5 to 25
Area Size = 5

## If a notification should be shown when entering the area
# Setting type: Boolean
# Default value: true
Show Notification = true

