## Settings file was created by plugin acidphantasm-botplacementsystem v2.0.18
## Plugin GUID: com.acidphantasm.botplacementsystem

[1. Despawn Settings]

## Enabling this will only despawn scavs, if you want to also despawn PMCs you must also check the below option.
# Setting type: Boolean
# Default value: false
Enable Despawning = false

## Allow ABPS to despawn PMCs. 
## Requires `Enable Despawning`
## 
##  If you enable this and don't turn on PMC waves, then expect to have almost no PMCs in your raids. 
## That's on you.
# Setting type: Boolean
# Default value: false
Enable Despawning PMCs = false

## Distance that bots must be from player to trigger despawning.
# Setting type: Single
# Default value: 250
# Acceptable value range: From 100 to 500
Despawn Distance = 350

## Timer for despawning, this is the MINIMUM time between despawning attempts. In Seconds.
# Setting type: Single
# Default value: 300
# Acceptable value range: From 180 to 600
Despawn Timer = 400

[2. General Settings]

## Max bots allowed on map, value is ignored by certain bots.
## Starting PMCs ignore the cap by default, if you want to change this you must do so in the server config.
## 
## Changes do not take effect until next raid.
# Setting type: Int32
# Default value: 23
# Acceptable value range: From 1 to 50
Max Bots - Customs = 23

## Max bots allowed on map, value is ignored by certain bots.
## Starting PMCs ignore the cap by default, if you want to change this you must do so in the server config.
## 
## Changes do not take effect until next raid.
# Setting type: Int32
# Default value: 13
# Acceptable value range: From 1 to 50
Max Bots - Factory = 13

## Max bots allowed on map, value is ignored by certain bots.
## Starting PMCs ignore the cap by default, if you want to change this you must do so in the server config.
## 
## Changes do not take effect until next raid.
# Setting type: Int32
# Default value: 22
# Acceptable value range: From 1 to 50
Max Bots - Interchange = 22

## Max bots allowed on map, value is ignored by certain bots.
## Starting PMCs ignore the cap by default, if you want to change this you must do so in the server config.
## 
## Changes do not take effect until next raid.
# Setting type: Int32
# Default value: 19
# Acceptable value range: From 1 to 50
Max Bots - Labs = 19

## Max bots allowed on map, value is ignored by certain bots.
## Starting PMCs ignore the cap by default, if you want to change this you must do so in the server config.
## 
## Changes do not take effect until next raid.
# Setting type: Int32
# Default value: 22
# Acceptable value range: From 1 to 50
Max Bots - Lighthouse = 22

## Max bots allowed on map, value is ignored by certain bots.
## Starting PMCs ignore the cap by default, if you want to change this you must do so in the server config.
## 
## Changes do not take effect until next raid.
# Setting type: Int32
# Default value: 22
# Acceptable value range: From 1 to 50
Max Bots - Reserve = 22

## Max bots allowed on map, value is ignored by certain bots.
## Starting PMCs ignore the cap by default, if you want to change this you must do so in the server config.
## 
## Changes do not take effect until next raid.
# Setting type: Int32
# Default value: 16
# Acceptable value range: From 1 to 50
Max Bots - Ground Zero = 16

## Max bots allowed on map, value is ignored by certain bots.
## Starting PMCs ignore the cap by default, if you want to change this you must do so in the server config.
## 
## Changes do not take effect until next raid.
# Setting type: Int32
# Default value: 22
# Acceptable value range: From 1 to 50
Max Bots - Shoreline = 22

## Max bots allowed on map, value is ignored by certain bots.
## Starting PMCs ignore the cap by default, if you want to change this you must do so in the server config.
## 
## Changes do not take effect until next raid.
# Setting type: Int32
# Default value: 23
# Acceptable value range: From 1 to 50
Max Bots - Streets = 23

## Max bots allowed on map, value is ignored by certain bots.
## Starting PMCs ignore the cap by default, if you want to change this you must do so in the server config.
## 
## Changes do not take effect until next raid.
# Setting type: Int32
# Default value: 22
# Acceptable value range: From 1 to 50
Max Bots - Woods = 22

## Max bots allowed on map, value is ignored by certain bots.
## Starting PMCs ignore the cap by default, if you want to change this you must do so in the server config.
## 
## Changes do not take effect until next raid.
# Setting type: Int32
# Default value: 13
# Acceptable value range: From 1 to 50
Max Bots - Labyrinth = 13

[3. Boss Settings]

## If a boss spawned in the previous raid, lower their chance by the Step Count.
## Changes do not take effect until next raid.
# Setting type: Boolean
# Default value: false
Regressive Boss Chances = false

## If a boss didn't spawn in the previous raid, raise their chance by the Step Count.
## Changes do not take effect until next raid.
# Setting type: Boolean
# Default value: false
Progressive Boss Chances = true

## Progressive: If a boss fails to spawn, how much to increase their spawn chance by.
## 
## Regressive: The spawn chance is decreased by this amount if they spawned last raid.
## Changes do not take effect until next raid.
# Setting type: Int32
# Default value: 5
# Acceptable value range: From 1 to 15
Step Count = 5

## If only Progressive Chances are enabled, a boss that spawns will reset to this value.
## 
## If Regressive Chances are enabled, spawn chance instead decays toward this value if they spawned in the previous raid.
## Changes do not take effect until next raid.
# Setting type: Int32
# Default value: 5
# Acceptable value range: From 1 to 25
Minimum Chance = 5

## The highest value a boss's spawn chance can reach when progressive chances are enabled.
## Changes do not take effect until next raid.
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 25 to 100
Maximum Chance = 100

[4. PMC Settings]

## Enable this if you want PMCs to spawn at any spawn point instead of Player Spawn points.
## Note that with this disabled, PMCs will still spawn anywhere if there are no player spawn points available.
# Setting type: Boolean
# Default value: false
Allow PMC Spawn Anywhere = true

## How far all PMCs must be from a spawn point for it to be enabled for other PMC spawns.
##  Setting this too high will cause PMCs to fail to spawn.
# Setting type: Single
# Default value: 100
# Acceptable value range: From 10 to 175
Distance Limit - Customs = 100

## How far all PMCs must be from a spawn point for it to be enabled for other PMC spawns.
##  Setting this too high will cause PMCs to fail to spawn.
# Setting type: Single
# Default value: 30
# Acceptable value range: From 10 to 175
Distance Limit - Factory = 30

## How far all PMCs must be from a spawn point for it to be enabled for other PMC spawns.
##  Setting this too high will cause PMCs to fail to spawn.
# Setting type: Single
# Default value: 125
# Acceptable value range: From 10 to 175
Distance Limit - Interchange = 125

## How far all PMCs must be from a spawn point for it to be enabled for other PMC spawns.
##  Setting this too high will cause PMCs to fail to spawn.
# Setting type: Single
# Default value: 40
# Acceptable value range: From 10 to 175
Distance Limit - Labs = 40

## How far all PMCs must be from a spawn point for it to be enabled for other PMC spawns.
##  Setting this too high will cause PMCs to fail to spawn.
# Setting type: Single
# Default value: 125
# Acceptable value range: From 10 to 175
Distance Limit - Lighthouse = 125

## How far all PMCs must be from a spawn point for it to be enabled for other PMC spawns.
##  Setting this too high will cause PMCs to fail to spawn.
# Setting type: Single
# Default value: 90
# Acceptable value range: From 10 to 175
Distance Limit - Reserve = 90

## How far all PMCs must be from a spawn point for it to be enabled for other PMC spawns.
##  Setting this too high will cause PMCs to fail to spawn.
# Setting type: Single
# Default value: 85
# Acceptable value range: From 10 to 175
Distance Limit - GroundZero = 85

## How far all PMCs must be from a spawn point for it to be enabled for other PMC spawns.
##  Setting this too high will cause PMCs to fail to spawn.
# Setting type: Single
# Default value: 130
# Acceptable value range: From 10 to 175
Distance Limit - Shoreline = 130

## How far all PMCs must be from a spawn point for it to be enabled for other PMC spawns.
##  Setting this too high will cause PMCs to fail to spawn.
# Setting type: Single
# Default value: 120
# Acceptable value range: From 10 to 175
Distance Limit - Streets = 120

## How far all PMCs must be from a spawn point for it to be enabled for other PMC spawns.
##  Setting this too high will cause PMCs to fail to spawn.
# Setting type: Single
# Default value: 150
# Acceptable value range: From 10 to 175
Distance Limit - Woods = 150

## How far all PMCs must be from a spawn point for it to be enabled for other PMC spawns.
##  Setting this too high will cause PMCs to fail to spawn.
# Setting type: Single
# Default value: 20
# Acceptable value range: From 10 to 175
Distance Limit - Labyrinth = 20

[5. Scav Settings]

## How many open slots before hard cap to stop spawning additional scavs.
## Ex..If 3, and map cap is 23 - will stop spawning scavs at 20 total.
## This allows PMC waves if enabled to fill the remaining spots.
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 0 to 10
Scav Soft Cap = 3

## How likely a scav spawning later in the raid is a Player Scav.
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 0 to 100
PScav Chance = 20

## How many scavs can spawn in any one zone (excluding Factory/Ground Zero).
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 0 to 15
Zone Cap = 2

## Enables hotzones around maps, more common or quest areas are considered hotzones.
# Setting type: Boolean
# Default value: false
Hotzones = false

## How many scavs can spawn in a hotzone, if you enable hotzones (excluding Factory/Ground Zero).
# Setting type: Int32
# Default value: 4
# Acceptable value range: From 0 to 15
Hotzone Cap = 4

## How likely a scav is to spawn in a hotzone (excluding Factory/Ground Zero).
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 0 to 100
Hotzone Chance = 20

## How far PMCs must be from a spawn point for it to be enabled for Scav spawns.
##  Setting this too high will cause Scavs to fail to spawn.
# Setting type: Single
# Default value: 45
# Acceptable value range: From 5 to 50
Distance Limit - Customs = 45

## How far PMCs must be from a spawn point for it to be enabled for Scav spawns.
##  Setting this too high will cause Scavs to fail to spawn.
# Setting type: Single
# Default value: 30
# Acceptable value range: From 5 to 50
Distance Limit - Factory = 30

## How far PMCs must be from a spawn point for it to be enabled for Scav spawns.
##  Setting this too high will cause Scavs to fail to spawn.
# Setting type: Single
# Default value: 45
# Acceptable value range: From 1 to 50
Distance Limit - Interchange = 45

## How far PMCs must be from a spawn point for it to be enabled for Scav spawns.
##  Setting this too high will cause Scavs to fail to spawn.
# Setting type: Single
# Default value: 40
# Acceptable value range: From 1 to 50
Distance Limit - Labs = 40

## How far PMCs must be from a spawn point for it to be enabled for Scav spawns.
##  Setting this too high will cause Scavs to fail to spawn.
# Setting type: Single
# Default value: 45
# Acceptable value range: From 1 to 50
Distance Limit - Lighthouse = 45

## How far PMCs must be from a spawn point for it to be enabled for Scav spawns.
##  Setting this too high will cause Scavs to fail to spawn.
# Setting type: Single
# Default value: 45
# Acceptable value range: From 1 to 50
Distance Limit - Reserve = 45

## How far PMCs must be from a spawn point for it to be enabled for Scav spawns.
##  Setting this too high will cause Scavs to fail to spawn.
# Setting type: Single
# Default value: 45
# Acceptable value range: From 1 to 50
Distance Limit - GroundZero = 45

## How far PMCs must be from a spawn point for it to be enabled for Scav spawns.
##  Setting this too high will cause Scavs to fail to spawn.
# Setting type: Single
# Default value: 45
# Acceptable value range: From 1 to 50
Distance Limit - Shoreline = 45

## How far PMCs must be from a spawn point for it to be enabled for Scav spawns.
##  Setting this too high will cause Scavs to fail to spawn.
# Setting type: Single
# Default value: 45
# Acceptable value range: From 1 to 50
Distance Limit - Streets = 45

## How far PMCs must be from a spawn point for it to be enabled for Scav spawns.
##  Setting this too high will cause Scavs to fail to spawn.
# Setting type: Single
# Default value: 45
# Acceptable value range: From 1 to 50
Distance Limit - Woods = 45

[6. Debug Settings]

## Enabling this will turn on Bepinex logging for debug.
# Setting type: Boolean
# Default value: false
Enable Debug Logging = false

